*{ /** reset*/
	margin: 0; /** espacio del contenedor hacia afuera*/
	padding: 0; /** espacio del contenedor interor*/
	box-sizing: border-box;
}
body{
	width: 1200px;
	height: 3000px;
	margin: auto;
	background-color:red;
	background-image: url("img/8.jpg");
	background-size: cover;
	
}
	header{
		height: 300px;
		background-color: yellow;
		background-image: url("img/1.jpg");
		
	}
	nav{
		height: 60px;
		background-color: blue;
	}
	section{
		height: 700px;
		width: 1200px;
		background-color: red;	
		padding-top:20px; 
		padding-left:20px; 

	}

	#s1{
		height: 660px;
		width: 800px;
		background-color: white;
		
		float: left;

	}
	#s2{
		height: 660px;
		width: 340px;
		background-color: green;
		margin-left:20px;
		float: left;
	}
	footer{
		height: 120px;
		background-color: orange;
		margin-bottom:20px;		
	}
	#division{
		height: 300px;
		margin-bottom: 20px;
		background-color: black;
		}
		#div1{
			height: 300px;
			width: 300px;
			background-color: white;
			
			float: left;
		}
		#div2{
			height: 300px;
			width: 300px;
			background-color: red;
			
			float: left;
		}
		#div3{
			height: 300px;
			width: 300px;
			background-color: yellow;
				
			float: left;
		}
		#div4{
			height: 300px;
			width: 300px;
			background-color: gray;
			
			float: left;
		}
	aside{
		height: 120px;
		background-color: blue;
	}
