*{
	margin: 0; /** espacio del contenedor hacia afuera*/
	padding: 0; /** espacio del contenedor interor*/
	box-sizing: border-box;
}
body{
	width: 1200px;

}
	
	nav{
		height: 60px;
		background-color: red;
	}
	#divicion{
		height: 300px;

		background-color: purple;
		/**margin-bottom: 20px;
		background-color: black;*/
	}
	header{
		height: 500px;
		background-color: blue;
	}
	section{
		height: 500px;
		background-color: orange;
	}
	aside{
		height: 350px;
		background-color: green;
	}

		#div1{
			height: 200px;
			width: 400px;
			background-color:red;
			float: left;
		}
		#fot1{
			height: 200px;
			width: 200px;
			background-color:yellow;
			float: left;

		}
		
		#div2{
			height: 200px;
			width: 400px;
			background-color:orange;
			float: left;
			
		}
		#fot2{
			height: 200px;
			width: 200px;
			background-color:yellow;
			float: left;

		}
		#div3{
			height: 200px;
			width: 400px;
			background-color:red;
			float: left;
		}
		#fot3{
			height: 200px;
			width: 200px;
			background-color:yellow;
			float: left;
		}
		#div4{
			height: 200px;
			width: 400px;
			background-color:red;
			float: left;
		}
		#fot4{
			height: 200px;
			width: 200px;
			background-color:yellow;
			float: left;
		}