*{ /** reset*/
	margin: 0; /** espacio del contenedor hacia afuera*/
	padding: 0; /** espacio del contenedor interor*/
}
body{
	 width:1200px; 
	 margin: auto;

	 background-image: url("img/body.jpg"); /** **/
	 background-size: cover; /** ajusata la pantalla pero te mobes con la foto**/
	/**background-attachment: fixed; /** hace q la imagen no se mueva junto con las letras, cuando deslizamos para abajo o arriba*/
	/**background-repeat: no-repeat; /** hace q no se repita las imagens simultanias**/

}
header{
	height:300px;
	background-color: red;

	 background-image: url("img/header.jpg");
}
nav{
	height:80px;
	background-color: yellow;
}
section{
	height:600px;
	background-color: blue;
}
footer{
	height:150px;
	background-color: green;
}
aside{
	height:100px;
	background-color: orange;
}




